@import "variables";

.input {
  width: fit-content;
  background: $on-background;
  padding: 12px;
  border-radius: 500px;
  display: flex;
  align-items: center;
  gap: 8px;

  & > input {
    border: none;
    background: transparent;
    font-size: 0.8125rem;
    font-weight: 400;
    color: $text-hover;
    text-overflow: ellipsis;

    &:focus-visible {
      outline: none;
    }
  }
}
