$app-background: #000000;

$background: #121212;
$background-hover: #232323;
$on-background: #171717;

$primary: #ffffff;
$on-primary: #000000;
$secondary: #1ed760;
$on-secondary: #ffffff;

$text: #a7a7a7;
$text-hover: #ffffff;
