@import "variables";

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border: none;
  border-radius: 500px;

  background: $app-background;
  color: $text;

  font-size: 0.9rem;
  font-weight: 700;

  &--primary {
    background: $primary;
    color: $on-primary;
  }

  &--center {
    justify-content: center;
  }
}
