<div class="home">
  <section class="home__section">
    <h4 class="home__info title">Seu artista preferido!</h4>
    <app-card
      [title]="artist.name"
      [img]="artist.image"
      [description]="artist.genre"
      [direction]="'horizontal'"
    >
      <app-button
        style="align-self: flex-end"
        [type]="'primary'"
        [align]="'center'"
      >
        Ver artista
      </app-button>
    </app-card>
  </section>

  <section class="home__section">
    <h4 class="title">Músicas curtidas</h4>

    <ol class="home__favorite table">
      <li class="table__header table__row">
        <div class="table__cell" data-name="#">#</div>
        <div class="table__cell">Título</div>
        <div class="table__cell table__cell--center">
          <mat-icon
            class="table__icon"
            svgIcon="duration"
            aria-hidden="false"
            aria-label="Library"
          />
        </div>
      </li>

      <li class="table__body table__row" *ngFor="let track of favorite">
        <div class="table__cell">{{ track.index }}</div>
        <div class="table__cell">
          <app-spotify-item
            [name]="track.name"
            [description]="track.artists"
            [image]="track.image"
          />
        </div>
        <div class="table__cell table__cell--center">
          {{ track.duration }}
        </div>
      </li>
    </ol>
  </section>
</div>
