@import "variables";

:host {
  display: block;
  width: 100%;
  height: calc(100% - 64px);

  .home {
    padding: 0 24px 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__info {
      margin-bottom: 16px;
    }

    &__favorite {
      margin-top: 16px;
    }
  }
}

.table {
  &__header {
    border-bottom: 1px solid $on-background;
    font-weight: 700;
  }

  &__body {
    border-radius: 4px;

    &:hover {
      background: $background-hover;
    }
  }

  &__row {
    padding: 8px 16px;
    display: grid;
    grid-template-columns: 2em 1fr 4em;

    &:nth-child(2) {
      margin-top: 8px;
    }
  }

  &__cell {
    padding: 0 4px;
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;

    &--center {
      justify-content: center;
    }
  }

  &__icon {
    width: 1rem;
  }
}
