@import "variables";

:host {
  display: block;
  width: 100%;
  height: calc(100% - 64px);

  .home {
    padding: 0 24px 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__info {
      margin-bottom: 16px;
    }
  }
}

.track-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0 10px;

  &__header {
    & > th {
      padding: 16px;
      font-size: 0.9rem;
      font-weight: 700;
      text-align: left;
      border-bottom: 1px solid $background-hover;
    }
  }

  &__row {
    & > td {
      padding: 16px;
      font-size: 0.9rem;
    }

    & > td:first-child {
      border-left-style: solid;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    & > td:last-child {
      border-right-style: solid;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:hover {
      background-color: $background-hover;
    }
  }

  &__icon {
    width: 1.1rem;
  }

  .--center {
    text-align: center;
  }
}

.test-table {
}
